<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>763886388979-ndqdq9kvdan1oa6d47v1v7r2m0d5r56b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtLFLsdCwMPRMThzPKUMnPabvD6d9z-fI</string>
	<key>GCM_SENDER_ID</key>
	<string>763886388979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lk.com.rusiruwijethilake.fmMahanamaNextgen</string>
	<key>PROJECT_ID</key>
	<string>fm-mahanama-nextgen</string>
	<key>STORAGE_BUCKET</key>
	<string>fm-mahanama-nextgen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763886388979:ios:69e47cee82ca781e065986</string>
</dict>
</plist>